<div class="user-container">

    <div class="user-header-container">
        <!-- Titre -->
        <div class="user-header">
            <mat-icon fontIcon="group"></mat-icon>
            <h2 i18n>{{'USER_LIST.USERS' | translate}}</h2>
        </div>

        <!-- Actions -->
        <div class="user-actions">
            <input type="text" class="search-input" i18n [placeholder]=" 'USER_LIST.SEARCH_USER' | translate"
                (input)="searchUser($event)">
            <app-mf-select label='USER_LIST.TOGGLE_COLUMNS' [multiple]="true"
                [options]="userService.getAvailableColumns()" [selected]="userService.getDisplayedColumns()"
                (selectedChange)="userService.updateDisplayedColumns($event)" [translateKey]="'USER_LIST'">
            </app-mf-select>
        </div>
    </div>


    <!-- TABLEAU UTILISATEURS -->
    <div class="user-loader">
        @if (userService.isLoading()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
    </div>
    <table class="user-table">
        <thead>
            <tr>
                @for (column of userService.getDisplayedColumns(); track column) {
                <th (click)="userService.sortUsers(column, userService.sortedColumn().get(column)!)" class="sortable">
                    <div class="header-text">
                        {{ ('USER_LIST.' + column.toUpperCase()) | translate }}
                        @if (userService.sortedColumn().get(column) === sortDirection.ASC)
                        { <mat-icon fontIcon="keyboard_arrow_up"></mat-icon>}
                        @else
                        { <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>}
                    </div>
                </th>
                }
                <th class="edit-column hide"></th>
            </tr>
        </thead>

        <tbody>
            @for (user of userService.users(); track user.uuid) {
            <tr>
                @for (column of userService.getDisplayedColumns(); track column) {
                <td>{{ user[column] }}</td>
                }
                <td class="edit-column">
                    <mat-icon fontIcon="more_vert" [matMenuTriggerFor]="menu"></mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editUser(user.id)">
                            <mat-icon fontIcon="edit"></mat-icon>
                            <p>{{'APP.EDIT' | translate}}</p>
                        </button>
                        <button mat-menu-item (click)="deleteUser(user.id)">
                            <mat-icon fontIcon="delete"></mat-icon>
                            <p>{{'APP.DELETE' | translate}}</p>
                        </button>
                    </mat-menu>
                </td>
            </tr>
            }

            @if (userService.users().length === 0 && !userService.isLoading()) {
            <tr>
                <td [attr.colspan]="userService.getDisplayedColumns().length" class="empty-text">
                    {{ 'USER_LIST.EMPTY_LIST' | translate }}
                </td>
            </tr>
            }
            <tr #scrollTrigger class="scroll-trigger"></tr>
        </tbody>
    </table>

    <div class="user-footer">
        <p>
            {{userService.users().length}}/{{userService.totalItems()}}
            <span>{{'USER_LIST.USERS' | translate}}</span>
        </p>
    </div>
</div>