.edit-user-card {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

mat-form-field {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.avatar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 16px;
}

.avatar-container img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-preview img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}

.avatar-container img:hover {
    z-index: 100;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(5) translateY(50%);
    cursor: zoom-in;
}